$primary-100: #EAEDF7;
$primary-300: #A5ACCD;
$primary-400: #4C549C;
$primary-500: #3043aa;
$primary-700: #080F65;
$primary-800: #080F65;
$primary-900: #161f2b;

$gray-light: #A8B1B8;
$gray-basic: #333333;

$success-light: #4E9D66;
$success-basic: #047C33;

$danger-light: #f27050;
$danger-basic: #ff4d14;

$background-color: $primary-100;
