.item {
  background: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 15px 0;
}

.data {
  padding: 0 20px;

  h6 {
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 600;
  }
}

.spot {
  margin-bottom: 0;
  color: #7d0909;
  font-weight: bold;
  font-size: 15px;
}

.chart {
  position: relative;

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background: linear-gradient(90deg, #fff 0%, transparent 30%);
  }
}
