.item {
  background: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 15px 0;
  text-decoration: none !important;
  height: 80px;
}

.itemActive {
  background:
    radial-gradient(circle at top left, rgba(0, 91, 248, 0.1) 0, #ffffff 50%),
    radial-gradient(circle at bottom right, rgba(248, 0, 165, 0.2) 0, #ffffff 100%);
}

.data {
  padding: 0 20px;
  text-decoration: none !important;

  h6 {
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
}

.spot {
  margin-bottom: 0;
  color: #7d0909;
  font-weight: bold;
  font-size: 13px;
}

.chart {
  position: relative;

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
    background: linear-gradient(90deg, #fff 0%, transparent 30%);
  }
}
